.flex-container{
  display: flex;
  padding: 10px;
  background-color: lightgray;
  margin-bottom: 20px;
  border: 2px solid black;
  flex-wrap: wrap;
  gap: 15px;
}
.flex-item {
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
  background-color: lightblue;
  width: 100px;
}

